# Ignore Uno Platform intermediate and output directories
**/obj/
**/bin/
**/Uno.GitIgnore
**/Generated/
**/AppPackages/
**/BundleArtifacts/
**/PackageArtifacts/
**/publish/
**/Debug/
**/Release/
**/config.json
**/*.user

# Ignore Visual Studio files
*.suo
*.user
*.sln.docstates
*.vs/
*.vssscc
*.vspscc

# Ignore Mac-specific files
**/.DS_Store

# Ignore build artifacts
*.dll
*.pdb
*.exe
*.cache
*.log
*.msi
*.zip
*.bak
*.tmp
*.out
*.swp
*.nupkg
*.snupkg
*.xpi
*.crx